*~
*.so
*.o
..Rcheck/*
autom4te.cache/*
src/tprocessconf.h
.Rhistory
*/.Rhistory
.log
.lst
Makefile
README.html
.Rproj.user
microsimulation_*.tar.gz
microsimulation.Rcheck/
inst/lib/libmicrosimulation.a
