*~
*.so
*.o
..Rcheck/*
autom4te.cache/*
src/tprocessconf.h
.Rhistory
*/.Rhistory
.log
.lst
Makefile
README.html
.Rproj.user
microsimulation_*.tar.gz
microsimulation.Rcheck/
inst/lib/libmicrosimulation.a
*.dll
src/R.h
auto
NAMESPACE_old
README.4.vrb
README.5.vrb
README.aux
README.bbl
README.blg
README.log
README.out
README.tex
inst/doc/html
src/doc/Doxyfile.bak
