useDynLib(microsimulation)
exportPattern("^[[:alpha:]]+")
exportClasses("RNGStream")
exportClasses("BaseDiscreteEventSimulation")
import(Rcpp,BH,methods,dplyr,ggplot2)

importFrom("graphics", "lines", "plot")
importFrom("stats", "predict", "rnorm")

