useDynLib(microsimulation)
exportPattern("^[[:alpha:]]+")
exportClasses("RNGStream")
exportClasses("BaseDiscreteEventSimulation")

S3method(ICER, SummaryReport)
S3method(summary, SummaryReport)
S3method(print, summary.SummaryReport)
S3method(print, SummaryReport)
S3method(rbind, SummaryReport)
S3method(ascii, SummaryReport)
S3method(ascii, ICER.SummaryReport)

import(Rcpp,methods)
importFrom("graphics", "lines", "plot")
importFrom("stats", "predict", "rnorm")
importFrom("ascii", "ascii")
